@font-face {
    font-family: "Noto Sans";
    font-weight: bolder;
    src: url("Noto Sans/NotoSans_Condensed-Black.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-weight: bold;
    src: url("Noto Sans/NotoSans_Condensed-Bold.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-weight: light;
    src: url("Noto Sans/NotoSans_Condensed-Light.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-weight: 500;
    src: url("Noto Sans/NotoSans_Condensed-Medium.ttf");
}
@font-face {
    font-family: "Noto Sans";
    font-weight: normal;
    src: url("Noto Sans/NotoSans_Condensed-Regular.ttf");
}
